body {
  padding: 20px;
  display: flex; 
  justify-content: center; /* center the main content horizontally */
  align-items: center;     /* center the main content vertically */
  flex-direction: column;  /* stack items vertically */
  font-family: Arial, sans-serif;
  /* background-color: #242e34; */
}

.centeredText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 24px;
  /* color: white */
}

.actionButton, .paymentButton {
  padding: 9px 15px;
  margin: 3px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 142px;
  cursor: pointer;
  background-color: #ddd;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: background-color 0.3s;
  outline: none; /* remove default outline for buttons */
  flex: 1;
}

.actionButton, .paymentButton:hover {
  background-color: #c8c1c1;
}

.disabled {
  pointer-events: none; /* Prevents clicking */
  opacity: 0.6; /* Makes button appear faded */
  cursor: not-allowed; /* Changes cursor to a 'not allowed' icon */
}

#jsonOutput {
  padding: 20px;
  width: 700px; /* changed width to 500px */
  white-space: pre-wrap;
  background-color: #faf9f9;
  margin-right: 20px; /* added a margin to separate it from the paymentContainer */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Consolas, Monaco, "Lucida Console", "Courier New", monospace;  /* Programming font */
  font-size: 13px;
}

select {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.actionContainer, .paymentContainer {
  width: 150px;
  display: flex; 
  justify-content: center; /* center the main content horizontally */
  align-items: stretch; /* make the items stretch to fill the container's height */
  flex-direction: column;  
}

.actionContainer > div, .paymentContainer > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 3px; /* Add gap for spacing between buttons */
}

/* Button Styles */
.applepay-button { background-color: #4b44fa; color: #fcac94; }
.googlepay-button { background-color: #EA4335; color: #fdbd00; }
.debit-button { background-color: #1a1f71; color: #fdbb0a; }
.venmo-button { background-color: #008CFF; color: white; }
.paypal-button { background-color: #253b80; color: #2997d8; }
.ach-button { background-color: #990055; color: white; }
.sei-button { background-color: #047C64; color: #f4821f; }
.ace-button { background-color: #18573f; color: #df9ba4; }
.cvs-button { background-color: #CC0000; color: white; }
.caseys-button { background-color: #ED1B2D; color: #FFE01A; }
.walmart-button { background-color: #007dc6; color: #ffc220; }
.dollargeneral-button { background-color: #1c1b1b; color: #fff000; }
.walgreens-button { background-color: #E31837; color: white; }

/* Dynamic Text Styles - Only updating text color here */
.dynamic-applepay { color: #4b44fa; }
.dynamic-googlepay { color: #EA4335; }
.dynamic-debit { color: #1a1f71; }
.dynamic-venmo { color: #008CFF; }
.dynamic-paypal { color: #253b80; }
.dynamic-ach { color: #990055; }
.dynamic-sei { color: #047C64; }
.dynamic-ace { color: #18573f; }
.dynamic-cvs { color: #CC0000; }
.dynamic-caseys { color: #ED1B2D; }
.dynamic-walmart { color: #007dc6; }
.dynamic-dollargeneral { background-color: #fffaaf; color: #1c1b1b; }
.dynamic-walgreens { color: #E31837; }